<!-- static 경로의 파일 사용 시 작성 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head.html' %}
</head>
<body style="background-image: url('/static/img/cover.jpg');background-size:100%;">
    <div class="sign-modal-background">
        <div class="sign-modal-wrap">
            <a href="/" class="sign-close-button">
                <i class="fas fa-times-circle fa-2x"></i>
            </a>
            
            <div class="sign-content-wrap">
                <form action="/users/{{user.id}}/update/nickname" method="post" class="sign-form">
                    <h1>닉네임 생성</h1>
                    {% csrf_token %}
                    <div class="sign-form-content">
                        <input type="text" name="nickname" placeholder="사용할 닉네임을 입력하세요">
                    </div>
                    <button>생성</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>