<!-- static 경로의 파일 사용 시 작성 -->
{% load static %}
<meta charset="UTF-8">
<!-- google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<!-- icon -->
<script src="https://kit.fontawesome.com/ba092ee4c8.js" crossorigin="anonymous"></script>
<!-- default css -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!-- panarama api -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/three/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uevent@2/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.js"></script>

<!-- ck editor -->
<script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
<title>StudyBook</title>