{% extends 'layout.html' %}
{% block content %}
{% if not user.is_authenticated %}
    <script>
        location.href="/login-menu";
    </script>
{% endif %}
<h1>파노라마 생성하기</h1>
<form action="/panorama/store" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="">제목</label><br>
    <input type="text" name="title"><br><br>
    <label for="">파노라마 사진</label><br>
    <input type="file" name="panorama"><br><br>
    <label for="">배경음</label><br>
    <input type="file" name="bgm"><br><br>
    <button type="submit">생성하기</button>
</form>
{% endblock %}