<!-- static 경로의 파일 사용 시 작성 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head.html' %}
</head>
<body>
    <div class="header">
        <a href="/" class="logo">Studybook</a>

        {% if user.is_authenticated %}
            <div style="display:flex;justify-content:center;align-items:center;">
                <a href="/panorama/create" title="file upload"><i class="fas fa-cloud-upload-alt fa-2x" style="color:#FFBF00;"></i></a>
                <div class="authenticated-wrap">
                    <img class="user-img" src="/static/img/cover.jpg" alt="user image">
                    <div class="authenticated-dropdown">
                        <a href="/users/{{user.id}}">내 정보</a>
                        <hr/>
                        <a href="/logout">로그아웃</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="login-wrap">
                <a href="/panorama/create" title="file upload"><i class="fas fa-cloud-upload-alt fa-2x" style="color:#FFBF00;"></i></a>
                <a href="/login-menu" class="login-button">로그인</a>
            </div>
        {% endif %}
    </div>
    <!-- main -->
    <div class="main">
        <!-- left-menu -->
        <div class="left-menu">
            <a href="/"><i class="fas fa-home" style="color:#04B486;"></i>추천</a>
            <a href="/panorama"><i class="fas fa-photo-video"></i>파노라마</a>
        </div>
        <!-- content -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <!-- right-menu -->
        <div class="right-menu">
            <a href="#">Tripo Chat</a>
        </div>
    </div>
    <script type="module" src="{% static 'js/app.js' %}"></script>
</body>
</html>